<h2>Edit this task!</h2>
<p> Please fill out the form below to edit the task.</p>

<%= render partial: 'form', locals: {
  form_class: 'edit_task',
  action_name: 'Update Task'
} %>




<%= link_to "Back to Tasks", tasks_path %>