/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: bisque;
    text-align: center;
}

.index ul li {
    list-style-type: none;
}


/* .complete-button {
    color: green;
} */

.buttons {
    display: flex;
    justify-content: center;
}

.complete-button {
    background-color: green;
    color: white;
}

.incomplete-button {
    background-color: blue;
    color: white;
}

.delete-button {
    background-color: red;
    color: white;
}

.home-button {
    background-color: cornflowerblue;
    color: white;
    font: 11px Arial;
    text-decoration: none;
    padding: 2px 3px 2px 3px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.edit-button {
    color: white;
    background-color: coral;
    font: 11px Arial;
    text-decoration: none;
    padding: 2px 3px 2px 3px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}